USE [DbMvcStok]
GO
/****** Object:  Table [dbo].[tbladmin]    Script Date: 27.08.2025 01:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbladmin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici] [varchar](20) NULL,
	[sifre] [varchar](20) NULL,
 CONSTRAINT [PK_tbladmin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblkategori]    Script Date: 27.08.2025 01:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblkategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblkategori_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmusteri]    Script Date: 27.08.2025 01:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmusteri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](30) NULL,
	[soyad] [varchar](30) NULL,
	[sehir] [nvarchar](20) NULL,
	[bakiye] [decimal](18, 2) NULL,
	[tarih] [date] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_tblmusteri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblpersonel]    Script Date: 27.08.2025 01:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblpersonel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](30) NULL,
	[soyad] [varchar](30) NULL,
	[departman] [varchar](30) NULL,
 CONSTRAINT [PK_tblpersonel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblsatislar]    Script Date: 27.08.2025 01:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblsatislar](
	[id] [int] NOT NULL,
	[urun] [int] NULL,
	[personel] [int] NULL,
	[musteri] [int] NULL,
	[fiyat] [decimal](18, 2) NULL,
	[tarih] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblurunler]    Script Date: 27.08.2025 01:10:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblurunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
	[marka] [varchar](50) NULL,
	[stok] [smallint] NULL,
	[alisfiyat] [decimal](18, 2) NULL,
	[satisfiyat] [decimal](18, 2) NULL,
	[kategori] [int] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_tblurunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblmusteri] ADD  CONSTRAINT [DF_tblmusteri_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[tblsatislar] ADD  CONSTRAINT [DF_tblsatislar_tarih]  DEFAULT (getdate()) FOR [tarih]
GO
